# vim
*.swp
*.swo

# python
__pycache__/
.mypy_cache/

*.egg-info/

# Stubs and logs
llama/
*.logits
*.log
.ipynb_checkpoints/
transformers/
Megatron-LM/
wandb/
profiles/

docs/build/
docs/source/generated

# slurm
*.err
*.out
*.slrm
*_logs/

# Jupyter
*.ipynb

# Coverage
.coverage
coverage_html_report/
